.filter {
  margin-bottom: 1rem;
  background: #E8EBF2;
  border-radius: 10px;
  padding: 10px;
}
.filter__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter__item {
  margin-bottom: 0.25rem;
}
.filter__label-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
