.ticket-card {
  background: #E8EBF2;
  color: #4E148C;
  margin: 10px 0px;
  padding: 30px;
  border-radius: 10px;
  padding-right: 0;
}
.ticket-card__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}
.ticket-card__price {
  font-weight: 700;
  font-size: 2rem;
}

.ticket-card__logo {
  height: 28px;
  width: auto;
  object-fit: contain;
  display: block;
}
.ticket-card__route {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.ticket-card__segment {
  display: flex;
  flex-direction: column;
}
.ticket-card__label {
  color: #858AE3;
}
.ticket-card__date {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}
.ticket-card__time{
  font-weight: 500;
  color: #4E148C;
}

@media (width <= 450px) {
  .ticket-list-scroll{
    padding: 0px;
  }
  /*чекаем отседа*/
  .ticket-card {
    margin: 0.5rem 0px;
    padding: 1rem;
  }
  .ticket-card__header {
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 1rem;
  }
  .ticket-card__price {
    font-size: 1.5rem;
  }
  
  .ticket-card__logo {
    height: 1rem;
  }
  .ticket-card__route {
    gap: 0.2rem;
  }
  .ticket-card__date {
    margin-top: 0.1rem;
    font-size: 0.9rem;
  }
  .ticket-card__time{
    font-size: 0.8rem;
  }
}