.header-content{
    display: flex;
    align-items: center;
    color: #4E148C;
    margin: 5px 0px;
}

.header-plane-icon{
    height: 4rem;
}
.header-text{
    font-size: 1.2rem;
    font-weight: bold;
}
@media (width <= 1000px) {
    .header-content{
        display: flex;
        color: #4E148C;
        margin-bottom: 5px;
        justify-content: center;
    }
    .header-plane-icon{
        height: 20px;
    }
    .header-text {
        display: none;
    }
}

@media (width <= 375px) {
  .header-plane-icon {
    height: 20px;
  }
  .header-content {
    margin-bottom: 0;
    margin-top: 5px;
  }
}