.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.main-content {
  display: flex;
  gap: 2rem;
  flex: 1;
  height: fit-content;
}

.sidebar {
  flex-shrink: 0;
  width: 220px;
}

.content {
  flex: 0.75;
  min-width: 0;
  height: fit-content;
}

@media (max-width: 768px) {
  .app {
    padding: 0px 10px;
  }
  .main-content {
    flex-direction: column;
    max-height: 90dvh;
    overflow: hidden;
  }
  .sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .content .mobile-filters {
    display: none;
  }
}