.app {
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.main-content {
  display: flex;
  gap: 2rem;
  flex: 1;
  height: fit-content;
}

.sidebar {
  flex-shrink: 0;
  width: 220px;
}

.content {
  flex: 1;
  min-width: 0;
  height: fit-content;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
}